services:
  whisper:
    build: .
    image: whisper-rocm
    container_name: whisper-ai-rocm
    # No 'command' needed; it will use the Dockerfile ENTRYPOINT
    user: "${UID}:${GID}"
    volumes:
      - .:/app
      - ${HOME}:${HOME}
      # Mounts a local 'models' folder to the container's whisper cache
      - ./models:${HOME}/.cache/whisper
    working_dir: ${PWD}
    devices:
      - /dev/kfd:/dev/kfd:rwm
      - /dev/dri:/dev/dri:rwm
    security_opt:
      - seccomp:unconfined
    group_add:
      - "44"
      - "110"
    ipc: host
    shm_size: 16G
    environment:
      - HSA_OVERRIDE_GFX_VERSION=${HSA_OVERRIDE_GFX_VERSION}
      - TORCH_CUDA_ARCH_LIST=${TORCH_CUDA_ARCH_LIST}
      - UID=${UID}
      - GID=${GID}
      - HOME=${HOME}
